html, body {
  margin: 0;
  padding: 0;
  background-color: #a5a5a5;
}

body {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  outline: 1px solid #444;
}

.swatch-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swatches {
  display: flex;
}

.swatch {
  width: 3rem;
  height: 3rem;
  background-color: darkgray;
  border: 1px solid #444;
  cursor: pointer;
  border-radius: 50%;
}

.swatch:not(:first-child) {
  margin-left: 4px;
}

.ui-cont {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

button {
  height: 4rem;
  font-size: 2rem;
}

.buttons button {
  width: calc(50% - 0.5rem);
}

.swatch-cont button {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-wrapper {
  width: 100vw;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 960px) {
  main {
    padding: 0.25rem;
  }

  .ui-cont {
    width: 960px;
  }

  .buttons {
    display: unset;
  }

  button {
    height: unset;
    font-size: unset;
  }

  .buttons button {
    width: 6rem;
  }

  .swatch-cont {
    justify-content: unset;
  }

  .swatch-cont button {
    width: 6rem;
    margin-right: 0.25rem;
  }

  .swatch {
    width: 1.5rem;
    height: 1.5rem;
    background-color: darkgray;
    border: 1px solid #444;
    cursor: pointer;
    border-radius: 50%;
  }
}